<h1> Product {{id}} </h1>
<div class="product">
  {{id}} </br>
  {{name}} </br>
  <button {{action addToCart}} class="btn large primary"> Add to Cart </button>
  {{#linkTo "products"}}<button class="btn small"> Back </button>{{/linkTo}}
  <ul>
  {{#each variant in variants}}
    {{variant.id}}
  {{/each}}
  </ul>
</div>