<h3> My Account </h3>

EMAIL: {{email}}

<h5> My Orders </h5>


{{#if orders}}
  <table class="table table-striped">
    <thead>
      <th>ORDER</th>
      <th>ORDER DATE</th>
      <th>STATUS</th>
      <th>PAYMENT STATE</th>
      <th>TOTAL</th>
    </thead>
    <tbody>
    {{#each order in orders}}
    <tr>
      <td>{{#linkTo "order" order}} {{order.number}} {{/linkTo}}</td>
      <td>{{date order.order_date}}</td>
      <td>{{order.state}}</td>
      <td>{{order.payment_state}}</td>
      <td>{{order.total}}</td>
    <tr>
    {{/each}}
    </tbody>
  </table>
{{else}}
  You have no orders.
{{/if}}