<h3> Shopping Cart </h3>
{{#if model.lineItems}}
  {{partial "order_details"}}
  <hr>
  <button {{action empty}} class="btn"> Empty Cart </button> or {{#linkTo "products"}}<button class="btn"> Continue Shopping </button> {{/linkTo}} <br />
  {{input value=couponCode}} <button {{action update}} class="btn"> Update </button> <button class="btn" {{action checkout}}> Checkout </button>
  <hr>
{{else}}
  You have nothing in your cart.  Add some cool stuff. {{#linkTo "products"}}<button class="btn"> Continue Shopping </button> {{/linkTo}} <br />
{{/if}}