<h3> Shopping Cart </h3>
{{#if model.lineItems}}
  <table class="table table-striped">
    <tr>
      <th> Item </th>
      <th> Price </th>
      <th> Quantity </th>
      <th> Total </th>
    </tr>
    {{#each item in model.lineItems}}
    <tr>
      <td> {{item.variant.name}} </td>
      <td> {{item.price}} </td>
      <td> {{item.quantity}} </td>
      <td> {{item.total}} </td>
    </tr>
    {{/each}}
  </table>
  <hr>
  <button {{action empty}} class="btn"> Empty Cart </button> or {{#linkTo "products"}}<button class="btn"> Continue Shopping </button> {{/linkTo}} <br />
  {{input value=couponCode}} <button {{action update}} class="btn"> Update </button> <button class="btn" {{action checkout}}> Checkout </button>
  <hr>
{{else}}
  You have nothing in your cart.  Add some cool stuff. {{#linkTo "products"}}<button class="btn"> Continue Shopping </button> {{/linkTo}} <br />
{{/if}}