<h3> Checkout </h3>
<ol class="inline">
  <li>{{#linkTo "checkout.address"}}ADDRESS{{/linkTo}} </li>
  <li>{{#linkTo "checkout.delivery"}}DELIVERY{{/linkTo}} </li>
  <li>{{#linkTo "checkout.payment"}}PAYMENT{{/linkTo}} </li>
  <li>{{#linkTo "checkout.confirm"}}COMPLETE{{/linkTo}} </li>
</ol>
<div class="checkout">
  {{#if error}}
    <div class="alert alert-block">
      <h4> An Error occured </h4>
      <p>{{error}}</p>
    </div>
  {{/if}}
  {{outlet}}
</div>
{{#if isConfirm}}
  <button class="btn primary" {{action update}}> Place Order </button>
{{else}}
  <button class="btn primary" {{action update}}> Save & Continue </button>
{{/if}}