{{#if error}}
<div class="alert"> {{error}} </div>
{{/if}}
<h3> Login </h3>
{{log controller}}
<label> Email </label>
{{input value=login}}
<label> Password </label>
{{input type=password value=password}}

<button {{action authenticate}} class="btn primary"> Log in </button> or {{#linkTo "signup"}} <button class="btn secondary"> Sign up </button> {{/linkTo}}