<div class="product row">
  <div class="span5">
    <img {{bindAttr src="mainImage.product_url"}}>
    {{#if properties}}
      <h5> Properties: </h5>
      <ul class="product-properties">
      {{#each property in properties}}
        <li>{{property.property_name}}  -  {{property.value}} </li>
      {{/each}}
      </ul>
    {{/if}}
  </div>
  <div class="span7">
    <h5> {{name}} </h5>
    <hr>
    <p> {{description}} </p>
    <h6> PRICE </h6>
    <span class="price"> {{price}} </span><br />
    Quantity: {{view Ember.TextField type="number" valueBinding="quantity" name="quantity" class="span1"}}
    <button {{action addToCart}} class="btn large primary"> Add to Cart </button> <br />
    {{#if hasVariants}}
    <h5> Variants </h5>
    {{#view Ember.RadioButtonGroup name="variants" valueBinding="variant"}}
      {{#each variant in controller.variants}}
        <label>
          {{view view.RadioButton valueBinding="variant.id"}}
          {{variant.id}}
        </label>
      {{/each}}
    {{/view}}
    {{/if}}

    {{#if taxons}}
      <ul>
        <h5> LOOKING FOR SIMILAR ITEMS </h5>
        {{#each taxon in taxons}}
          {{taxon}}
        {{/each}}
      </ul>
    {{/if}}
  </div>
</div>