<hr>
<div class="row">
  <div class="span3">
    {{#if controller.taxons}}
      {{#each taxonRoot in controller.taxons}}
        <ul>
        <h5> Shop By {{taxonRoot.name}} </h5>
          {{#each taxon in taxonRoot.taxons}}
          <li> <a {{action filterProducts taxon}}> {{taxon.name}}</a></li>
          {{/each}}
         </ul>
      {{/each}}
    {{/if}}
  </div>
  <div class="span9">
    <ul class="thumbnails">
      {{#each product in filtered}}
        <li class="span3">
          <p>{{product.description}}</p>
          <img {{bindAttr data-src="product.primaryImage"}}>
          {{#linkTo "product" product}} {{product.name}} {{/linkTo}}
          <hr>
          {{product.price}}
        </li>
      {{else}}
        "No Match". <a {{action clearFilter}}> Clear Filter </a>
      {{/each}}
    </ul>
  </div>
</div>